/* .App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

/* .nav-container {
  max-width: 488px;
  margin-left: auto;
  margin-right: auto;
} */

/* add line break between navs */
/* .app-header{
  padding: 20px 40px 40px 0;
} */

/* .app-main::before {
  background: grey;
  content: " ";
  display: block;
  height: 264px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
} */

.app-main {
  padding: 20px 40px;
}

/* .navigation::before{
  height: 2px;
  content: "";
  display: block;
  opacity: 0.8;
  position: absolute;
  top: 0;
  width: 100%;
} */

.account-details {
  align-self: center;
  margin: 30px;
  padding: 30px 0 40px 40px;
  box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);
  background-color: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  opacity: 0.8;
  min-width: 300px; 
}

#auth-box {
  align-self: center;
  margin: 30px;
  padding: 30px 0 40px 40px;
  /* box-shadow: 0 10px 10px 0 #0000003d, 0 10px 20px 0 rgba(0,0,0,0.19); */
  box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);
  background-color: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  opacity: 0.8;
  min-width: 300px; 
  /* width: 30%; 250px */
  /* height: 60%; */
  /* font-size: 2.5vw; */
}