/* html { 
    backgrouns: url("../images/patrick-perkins-3wylDrjxH-E-unsplash.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white; 
  } */

.Home-component {
    /* The image used */
    background-image: url(../images/patrick-perkins-3wylDrjxH-E-unsplash.jpg);

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}